## Importing Training Dataset

**Observation:** I had to manually add two leading zeros on line 577, how could I make sure all numbers have leading zeros if necessary?

In [3]:
import pandas as pd

# importing training dataset
X_train = pd.read_csv("../dataset files/training/madelon_train.data", 
                      header=None, index_col=None, delimiter=' ')

# importing dataset targets
y_train = pd.read_fwf("../dataset files/training/madelon_train.labels", header=None, index_col=None)
 
X_train.info()
print('\n')
X_train.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Columns: 501 entries, 0 to 500
dtypes: float64(1), int64(500)
memory usage: 7.6 MB

,0,1,2,3,4,5,6,7,8,9,...,491,492,493,494,495,496,497,498,499,500
0,485,477,537,479,452,471,491,476,475,473,...,481,477,485,511,485,481,479,475,496,NaN
1,483,458,460,487,587,475,526,479,485,469,...,478,487,338,513,486,483,492,510,517,NaN
2,487,542,499,468,448,471,442,478,480,477,...,481,492,650,506,501,480,489,499,498,NaN
3,480,491,510,485,495,472,417,474,502,476,...,480,474,572,454,469,475,482,494,461,NaN
4,484,502,528,489,466,481,402,478,487,468,...,479,452,435,486,508,481,504,495,511,NaN

In [112]:
# describe for training dataset
X_train.describe()

,0,1,2,3,4,5,6,7,8,9,...,490,491,492,493,494,495,496,497,498,499
count,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.00000,...,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.00000,2000.000000,2000.000000,2000.000000
mean,481.722500,483.452500,510.166000,483.384500,501.612500,479.259000,480.109500,476.565000,486.793500,478.78900,...,482.258500,478.611500,486.106500,496.515500,493.299500,510.643000,478.01950,483.109000,507.777000,490.066000
std,6.421769,30.186294,38.899165,9.059895,41.389418,6.795956,40.575925,1.384461,15.043836,7.19092,...,22.886253,9.819306,26.117125,127.780197,35.963377,38.757407,10.80141,16.247865,38.507761,27.543728
min,462.000000,381.000000,370.000000,453.000000,371.000000,459.000000,334.000000,471.000000,430.000000,455.00000,...,64.000000,78.000000,21.000000,77.000000,91.000000,63.000000,73.00000,83.000000,65.000000,61.000000
25%,477.000000,464.000000,485.000000,477.000000,475.000000,475.000000,452.750000,476.000000,477.000000,474.00000,...,468.000000,476.000000,471.000000,404.000000,470.000000,486.000000,474.00000,474.000000,482.000000,473.000000
50%,482.000000,483.000000,510.500000,483.000000,500.000000,479.000000,480.000000,477.000000,487.000000,479.00000,...,482.000000,479.000000,486.000000,504.000000,492.000000,511.000000,478.00000,483.000000,508.000000,490.000000
75%,486.000000,503.000000,536.000000,490.000000,528.000000,484.000000,506.250000,477.000000,496.250000,484.00000,...,496.000000,481.000000,502.000000,586.000000,517.000000,535.000000,482.00000,492.000000,533.000000,507.250000
max,503.000000,600.000000,654.000000,519.000000,688.000000,505.000000,611.000000,481.000000,536.000000,503.00000,...,549.000000,497.000000,566.000000,920.000000,615.000000,661.000000,500.00000,535.000000,644.000000,583.000000

## Normalizing dataset

Since this is a sintetic dataset, there's no harm in normalizing the data for every single pipeline. (no real loss of information over non-normalized data.)

In [115]:
# normalizing training dataframe
from sklearn import preprocessing

min_max_scaler = preprocessing.MinMaxScaler()
X_train_scaled = pd.DataFrame(
    min_max_scaler.fit_transform(X_train), 
        index=X_train.index, 
        columns=X_train.columns
    )

# adding target column
X_train_scaled['target'] = y_train
X_train_scaled.head()

,0,1,2,3,4,5,6,7,8,9,...,491,492,493,494,495,496,497,498,499,target
0,0.560976,0.438356,0.588028,0.393939,0.255521,0.260870,0.566787,0.5,0.424528,0.375000,...,0.961814,0.836697,0.483986,0.801527,0.705686,0.955504,0.876106,0.708117,0.833333,-1
1,0.512195,0.351598,0.316901,0.515152,0.681388,0.347826,0.693141,0.8,0.518868,0.291667,...,0.954654,0.855046,0.309609,0.805344,0.707358,0.960187,0.904867,0.768566,0.873563,-1
2,0.609756,0.735160,0.454225,0.227273,0.242902,0.260870,0.389892,0.7,0.471698,0.458333,...,0.961814,0.864220,0.679715,0.791985,0.732441,0.953162,0.898230,0.749568,0.837165,-1
3,0.439024,0.502283,0.492958,0.484848,0.391167,0.282609,0.299639,0.3,0.679245,0.437500,...,0.959427,0.831193,0.587189,0.692748,0.678930,0.941452,0.882743,0.740933,0.766284,1
4,0.536585,0.552511,0.556338,0.545455,0.299685,0.478261,0.245487,0.7,0.537736,0.270833,...,0.957041,0.790826,0.424674,0.753817,0.744147,0.955504,0.931416,0.742660,0.862069,1

## Exporting dataset

In [116]:
X_train_scaled.to_csv(path_or_buf="../dataset files/training/post_eda_train.csv")